body{
    margin:0;
}

.desktop {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #d9eaff;
}

.clockContainer{
    position: relative;
    display: flex;
    justify-content: center;
}

.clockContainer .clock{
    position: absolute;
    font-size: 150px;
    top: 250px;
}

.todosContainer{
    position: relative;
    display: flex;
    justify-content: center;
    top: 400px;
}

.todosContainer .todos{

}